## Example .env file, copy to .env and modify according to your needs

PSQL_USER=opm
PSQL_PASS=yourpass
DJANGO_DEBUG=False
## Important: Change this value for your environment
DJANGO_SECRET_KEY=Add_A_Long_Random_String_Here
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGIN=127.0.0.1,localhost